.Item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    width: 250px;
    height: 20px;
    border: 1px solid #574b68;
    border-radius: 2px;
    padding: 10px;
    background: rgb(148, 69, 148);
}
.Item p{
    margin: 0;
    font-family: inherit;
    font-size: 18px;
}
.Item button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 2px;
    outline: none;
    box-sizing: border-box;
}